@model IEnumerable<HospitalManagementSystem.Models.Patients.PatientsListingModel>


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Hospital management system</h1>
    <p class="lead text-center">Simple solution for storing all your patients in one place.</p>
    <p class="text-center"><a href="/Patients/Create" class="btn btn-primary btn-lg">Start now</a></p>
</div>


<h2 class="text-center"><b>Recent patients:</b></h2>

<div class="row">
    @foreach (var patient in Model)
    {

        <div class="col-md-4">
           <img src="@patient.ImagePath" width="200px">

            <p><a class="btn btn-default" href="Patients/Details/@patient.Id">Full Profile</a></p>
        </div>
    }
</div>
