@model IEnumerable<HospitalManagementSystem.Models.Patients.MyPatientsModel>

<h2 class="text-center">My Patients</h2>

<table class="table table-bordered table-responsive table-striped table-hover">
    @foreach(var patient in Model)
    {
        <tr>
            <th>
                Name
                </th>
            <th>
                Condition
            </th>
            <th>
                Room
            </th>
            </tr>
        <tr>
            <td>
                @patient.Name
                </td>
            <td>
                @patient.Condition
            </td>
            <td>
                @patient.Room
            </td>
            </tr>
    }
    </table>